<canvas id="emotion-chart" width="100px"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  // const emotionLabels = ["Anger", "Sadness", "Fear", "Surprise", "Joy"];
  // const emotion80Data = [93, 30, 34, 23, 35];
  // const emotion90Data = [605, 190, 191, 155, 129];
  // const emotion00Data = [419, 221, 138, 134, 105];
  // const emotion10Data = [1194, 737, 454, 330, 270];
  const angerData = [93, 605, 419, 1194];
  const sadnessData = [30, 190, 221, 737];
  const fearData = [34, 191, 138, 454];
  const surpriseData = [23, 155, 134, 330];
  const joyData = [35, 129, 105, 270];
  const decadesLabels = ["1980", "1990", "2000", "2010"];
  const emotion = document.getElementById('emotion-chart').getContext('2d');
  const emotionChart = new Chart(emotion, {
    type: 'bar',
    data: {
      labels: decadesLabels,
      datasets: [{
        label: "Anger",
        data: angerData,
        backgroundColor: 'rgba(193, 41, 46, 1)',
      },
      {
        label: "Sadness",
        data: sadnessData,
        backgroundColor: 'rgba(90, 90, 90, 1)',
      },
      {
        label: "Fear",
        data: fearData,
        backgroundColor: 'rgba(2, 1, 0, 1)',
      },
      {
        label: "Surprise",
        data: surpriseData,
        backgroundColor: 'rgba(241, 211, 2, 1)'
      },
      {
        label: "Joy",
        data: joyData,
        backgroundColor: 'rgba(60, 129, 194, 1)'
      },
      ]
    },
    options: {
      plugins: {
        legend: {
          position: "top"
        },
        title: {
          display: true,
          text: "Emoções das Músicas por Década",
          font: {
            size: 20
          }
        }
      },
      scales: {
        x: {
          // stacked: true,
          grid: {
            display: false
          }
        },
        y: {
          // stacked: true,
          grid: {
            display: true
          }
        }
      }
    }
  });

</script>